[Unit]
Description=NewTS

[Service]
Type=forking
ExecStart=/usr/bin/java -cp /home/vagrant/newts-1.3.1/lib/*: org.opennms.newts.rest.NewtsDaemon -D -p /var/run/newts.pid -c /home/vagrant/newts-1.3.1/etc/config.yaml
PIDFile=/var/run/newts.pid

[Install]
WantedBy=multi-user.target
