[Unit]
Description=Druid Broker Node

[Service]
ExecStart=/usr/bin/java -Xmx10g -Xms10g -XX:NewSize=4g -XX:MaxNewSize=4g -XX:MaxDirectMemorySize=12g -XX:+UseConcMarkSweepGC \
-Duser.timezone=UTC -Dfile.encoding=UTF-8 \
-classpath :/usr/share/java/mysql-connector-java.jar:/home/vagrant/druid-0.8.1/lib/*:/home/vagrant/config/broker:/home/vagrant/config/_common \
io.druid.cli.Main server broker

[Install]
WantedBy=multi-user.target
